body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.card {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #333;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

span {
    font-weight: bold;
    color: #555;
}
